<!-- BEGIN EXTENDING BASE TEMPLATE -->
{% extends 'church_admin/base.html' %}
<!-- END EXTENDING BASE TEMPLATE -->

<!-- BEGIN PAGE TITLE -->
{% block title %}
	Income 
{% endblock %}
<!-- END PAGE TITLE -->

<!-- BEGIN SETTING ACTIVE LINK -->
{% block income-active %}
	start active open
{% endblock %}
<!-- END SETTING ACTIVE LINK -->

<!-- BEGIN SETTING PAGE BREADCRUMBS -->
{% block first_breadcrum %}  
	<a href="{% url 'all-incomes' %}"> Income </a>
{% endblock %}

{% block second_breadcrum %}  
	View All Records
{% endblock %}
<!-- END SETTING PAGE BREADCRUMBS -->

<!-- BEGIN SETTING PAGE TITLE -->
{% block page-title %} 
	Income
{% endblock %}
<!-- END SETTING PAGE TITLE -->

<!-- BEGIN PAGE CONTENT -->
{% block small-page-title %} 
	View All
{% endblock %}

{% block body %}
	<!-- BEGIN ROW -->
	<div class="row">
		
		<!-- BEGIN COL -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			
			<!-- BEGIN TABLE -->
			<table class="table table-striped">
				
				<thead>
                    <tr>
                        <th> Receipt No.</th>  
                        <th> Description </th>
                        <th> Amount </th>
                        <th> Date </th>   
                        <th> Edit </th>
                        <th> Delete </th>
                    </tr>
                </thead>

                <tbody>
                	{% if all_incomes %}
                		{% for income in all_incomes %}
	                		<tr>
	                			<td> {{income.receipt_no}} </td>
	                			<td> {{income.income_description}} </td>
	                			<td> {{income.income_amount}} </td>
	                			<td> {{income.income_date}} </td>
	                			<td> <a href="" class='btn green btn-outline sbold uppercase'> <i class='fa fa-edit'></i> </a> </td>
	                			<td> <a href="" class='btn red btn-outline sbold uppercase'> <i class='fa fa-trash'></i> </a> </td>
	                		</tr>
                		{% endfor %}
            		{% else %}
            			<tr>
            				<td colspan="6"> <h3> No Income Records Available! </h3> </td>
            			</tr>
        			{% endif %}
                </tbody>

			</table>
			<!-- END TABLE -->

		</div>
		<!-- END COL -->

  	</div>
  	<!-- END ROW -->
{% endblock %}
<!-- END PAGE CONTENT -->